/target/
/dist/
/.tools/
Longwatch-*.zip
Longwatch-*-setup.exe
Longwatch-*.tar.gz
Longwatch-*.deb
Longwatch-*.dmg
*.AppImage
appimagetool.AppImage
Longwatch.AppDir/
deb-root/
dmg-root/
Cargo.toml.orig
*.bak
/.tmp_app_server_schema/
/.longwatch-test/
*.log
*.tmp
.DS_Store
